#board {
    background-color: blue;
    height: 500px;
    width: 500px;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.cell {
    width: 30px;
    height: 30px;
    background-color: burlywood;
    border: black solid 1px;
}
